body {
    font-family:'Raleway';
    font-weight: 500;
}

.navbar-default .navbar-nav>li>a:focus {
    color: #ddd !important;
}

.navbar-collapse {
    border-top: none;
    box-shadow: none;
}

.server-status {
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none !important;
    display: block;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    color: #ddd !important;
}

[data-tooltip], .tooltip {
    position: relative;
    cursor: pointer;
}

[data-tooltip]:before, [data-tooltip]:after, .tooltip:before, .tooltip:after {
    position: absolute;
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    pointer-events: none;
}

[data-tooltip]:hover:before, [data-tooltip]:hover:after, [data-tooltip]:focus:before, [data-tooltip]:focus:after, .tooltip:hover:before, .tooltip:hover:after, .tooltip:focus:before, .tooltip:focus:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.tooltip:before, [data-tooltip]:before {
    z-index: 1001;
    border: 6px solid transparent;
    background: transparent;
    content: "";
}

.tooltip:after, [data-tooltip]:after {
    z-index: 1000;
    padding: 8px;
    width: 160px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    font-size: 14px;
    line-height: 1.2;
}

[data-tooltip]:before, [data-tooltip]:after, .tooltip:before, .tooltip:after, .tooltip-top:before, .tooltip-top:after {
    bottom: 100%;
    left: 50%;
}

[data-tooltip]:before, .tooltip:before, .tooltip-top:before {
    margin-left: -6px;
    margin-bottom: -12px;
    border-top-color: #000;
    border-top-color: hsla(0, 0%, 20%, 0.9);
}

[data-tooltip]:after, .tooltip:after, .tooltip-top:after {
    margin-left: -80px;
}

[data-tooltip]:hover:before, [data-tooltip]:hover:after, [data-tooltip]:focus:before, [data-tooltip]:focus:after, .tooltip:hover:before, .tooltip:hover:after, .tooltip:focus:before, .tooltip:focus:after, .tooltip-top:hover:before, .tooltip-top:hover:after, .tooltip-top:focus:before, .tooltip-top:focus:after {
    -webkit-transform: translateY(-12px);
    -moz-transform: translateY(-12px);
    transform: translateY(-12px);
}

.tooltip-bottom:before, .tooltip-bottom:after {
    top: 100%;
    bottom: auto;
    left: 50%;
}

.tooltip-bottom:before {
    margin-top: -12px;
    margin-bottom: 0;
    border-top-color: transparent;
    border-bottom-color: #000;
    border-bottom-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-bottom:hover:before, .tooltip-bottom:hover:after, .tooltip-bottom:focus:before, .tooltip-bottom:focus:after {
    -webkit-transform: translateY(12px);
    -moz-transform: translateY(12px);
    transform: translateY(12px);
}

.tooltip-left:before, .tooltip-right:before {
    top: 3px;
}

.tooltip-left:after, .tooltip-right:after {
    margin-left: 0;
    margin-bottom: -16px;
}

.btn {
    border-radius: 100px;
    padding: 13px 40px;
    color: #fff;
    margin-right: 20px;
    margin-bottom: 10px;
}

.btn-transparent {
    background-color: transparent;
    border: 2px solid #fff;
    background-color: rgba(0, 0, 0, 0.08);
}

.btn-transparent:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.05);
    border-color: #ddd;
}

.btn-danger {
    background-color: #d62414;
}

.btn-danger:hover {
    background-color: #b61d10;
}

.btn-black {
    background-color: #151515;
}

.btn-black:hover {
    color: #ddd;
    background-color: #1c1c1c;
}

.row {
    margin-right: 0;
}

.headcontain {
    background-size: cover;
}

header {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    text-align: center;
    background-image: url('//www.inkymc.com/img/header.jpg');
    background-position: top;
    background-size: cover;
    padding: 30px 0 0 0;
}

header .links {
    margin-bottom: 40px;
}

@media (min-width:768px) {
    header .links {
        margin-bottom: 160px;
    }
}

.logo {
    display: block;
    margin: 0 auto;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}

header .btn {
    margin-right: 0;
}

@media (min-width:768px) {
    header .btn {
        margin-right: 20px;
    }
}

.navbar-default {
    background-color: transparent;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    color: #ddd;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #fefefe;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: transparent;
    color: #dedede;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-toggle {
    float: none;
    margin-right: 0;
    background-color: rgba(255, 255, 255, 0.10);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #d6d6d6;
    margin: 3px auto;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: rgba(255, 255, 255, 0.15);
}


#donate {
    background-image: url('.//www.inkymc.com/img/donate-banner.jpg');
    background-position: 0 101%;
    background-size: cover;
    overflow: hidden;
    text-align: center;
}

#donate .btn {
    margin-bottom: 20px;
}

@media (min-width:768px) {
    #donate {
        text-align: left;
    }
    #donate .btn {
        margin-bottom: 5px;
    }
}

#donate h1 {
    margin-top: 100px;
    color: #fff;
    font-size: 28px;
    margin-bottom: 30px;
}

#donate p {
    color: whitesmoke;
    margin-bottom: 30px;
}

#donate img {
    height: 400px;
}

#hero {
    margin-top: 30px;
    overflow: hidden;
    text-align: center;
}

@media (min-width:768px) {
    #hero {
        text-align: left;
    }
}

.bgdark {
    padding: 10px;
    background-color: rgba(255, 255, 255,0.12);
}

#hero h1 {
    padding: 10px;
    color: white;
    font-size: 28px;
    margin-bottom: 20px;
}

#hero p {
    color: whitesmoke;
    margin-bottom: 20px;
}

#hero li {
    color: whitesmoke;
    margin-bottom: 10px;
}

footer {
    padding: 20px;
}

footer img {
    padding: 30px;
    opacity: 0.5;
}

footer h2 {
    float: left;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}

footer h2 span {
    color: #d62414;
}

footer .fa {
    border: 1px solid red;
    padding: 12px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    line-height: 5px;
    color: red;
    padding-left: 8px;
    text-align: center;
}

footer .fa:hover {
    background-color: #f3bdc1;
}

footer .social-links {
    float: right;
    margin-top: 23px;
}

footer .fa-facebook {
    padding-left: 10px;
}

footer .links {
    margin-bottom: 10px;
}

footer .links a {
    margin-right: 22px;
    color: #7b7b7b;
    font-weight: 700;
}

footer .links a:hover {
    text-decoration: none;
    color: #b5b5b5;
}

footer .spacer {
    padding-bottom: 1px;
    background-color: #cdcdcd;
    margin: 10px 0;
}

@media (min-width:768px) {
    .headcontain {
        background-size: 100%;
    }
    footer h2 {
        text-align: left;
    }
    #donate {
        background-position: 0 calc(100% + 10px);
    }
}
